* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  display: flex;
  flex-direction: column;
}

.overhead-display {
  display: flex;
  background: black;
  margin-top: 50px;
  margin-right: 170px;
  margin-left: 170px;
  justify-content: space-between;
  align-items: center;
}
.caller {
  background: greenyellow;
  width: 300px;
  height: 500px;
  border: 1px blue solid;
}
.channel-display {
  border: 1px greenyellow solid;
  height: 500px;
  width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.channel-screen {
  border: 1px rgba(172, 255, 47, 0.63) solid;
  width: 390px;
  height: 250px;
}
.knob {
  border: 1px rgba(172, 255, 47, 0.418) solid;
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  background: rgb(158 199 173);
}
.arrow-left {
  height: 100%;
  width: auto;
  background: transparent;
  transform: rotate(270deg);
}
.arrow-right {
  height: 100%;
  width: auto;
  background: transparent;
  transform: rotate(90deg);
}
.caller > img {
  height: 100%;
  width: 100%;
}
.text-area {
  /* width: 100%; */
  height: 360px;
  border: 1px solid white;
  margin-top: 10px;
  margin-right: 170px;
  margin-left: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-area > p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 30;
}
